<mat-card>
    <h1>ADD NEW CATEGORY</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Title</mat-label>
                            <input type="text" name="title" required matInput placeholder="enter a caterory title"
                                [(ngModel)]="category.title" />
                        </mat-form-field>

                        <ckeditor [editor]="Editor" name="description" [(ngModel)]="category.description">
                        </ckeditor>

                        <div class="container text-center mt20">
                            <button mat-raised-button color="primary" type="submit">
                                ADD NEW CATEGORY
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>